[user]
	name = John Zanussi
	email = johnzanussi@gmail.com
    username = johnzanussi
[core]
	editor = code --wait
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[init]
    defaultBranch = main
[web]
    browser = google-chrome
[push]
    default = simple
    autoSetupRemote = true
[merge]
    tool = kdiff3
[difftool]
    prompt = false
[pull]
    rebase = true